p Bonjour #{name},
|
| On est super contents que tu veuilles participer au <b>Coolest Projects 2020</b> organisé
| par Coderdojo Belgium et qui va se dérouler au TECHNOPOLIS de MALINES le samedi 17 Mai 2020.
| <p>Tu trouveras les infos sur l’événement de Coolest Projects sur notre site <a href="https://coolestprojects.be">Coolest Projects 2020</a>.</p>
| <p>Si tu as moins de 16 ans tes parents vont aussi recevoir cet email afin qu’ils confirment ta participation.</p>
| <p>Via via ce <a href="#{url}">lien</a>, toi ou tes parents devront cliquer pour activer ton projet.</p>
|
| Ta participation sera acceptée seulement si l’activation arrive endéans les 2 prochains jours 
| ??(Que se passe-t-il si ça arrive après 2 jours)??
|
| <p>Si tout se passe bien, tu recevras un email avec les informations qui te seront nécessaires pour mener à bien ton projet.</p>
| 
| <p><b>Bonne chance, #{name}, nous attendons l’activation prochaine de ton projet.</b></p>
| 
| <p>L’équipe Coolest Projects </p>