p Hoi #{name},
| 
| <p>Je heb je verwijderd <b>DELETED</b> als co-worker in het project met 
| de titel <b>#{cptitle}</b> en project ID <b>#{cpid}</b>.</p>
| <p>Je kan de project link niet meer gebruiken om het project te bekijken.</p>
| <p>Je kan steeds je eigen project registreren of deelnemen in een ander project als co-worker
| (in dat geval heb je de code nodig van de project owner) via de registratie pagina.</p>
| <p>Indien je geen eigen project indient of deelneemt aan een ander project dan zal jouw registratie delete worden na het sluiten van de 
|  Coolest Projects registratie.</p>
| <p>Voor verdere vragen kan je ons team contacteren via <b>mailto:info@coolestproject.be</b>.</p>
| 
| <p>Coolest Project Team </p>