<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" data-inline />
</head>

<body>
    <div class="container-fluid">
        <h1>{{t 'hi' }}</h1>
        <p>Test text 123</p>
        <h3>Andere acties</h3>
        <p>Blokken</p>
        <div class="row">
            <div class="col-3">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Register With Own Project</h5>
                        <p class="card-text">You need to activate your registration</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Register With Existing Project</h5>
                        <p class="card-text">You need to activate your registration</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Activate Project</h5>
                        <p class="card-text">You need to activate your registration</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Update project</h5>
                        <p class="card-text">update project</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Invite participants</h5>
                        <p class="card-text">update project</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Join a project</h5>
                        <p class="card-text">update project</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Delete my account</h5>
                        <p class="card-text">Delete my account</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Delete my project</h5>
                        <p class="card-text">Delete my project</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Update my user</h5>
                        <p class="card-text">Update my user</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>