| Hi #{name},
|
| we are very pleased that you want to participate in coderdojo belgium 
| next Coolest Projects 2020.
| 
| If you are younger than 16 your parents receive this mail also and they should 
| confirm your participation.
| You or your parents can do it via this >#{url}< which activates 
| your project registration.
| 
| Please cut it out and paste it in a new browser windows to do the 
| project activation.
|
| Only if the activation happens during the next 2 days your participation 
| will be accepted. (what if after that 2 days??)
|
| If all is fine you receive a second mail with more information you need to 
| bring your project on rails.
| 
| Good luck #{name}  and we are awainting your activation soon.
| 
| Coolest Project team 