p Hi #{name},
| 
| <p>you have successfully <b>DELETED</b> your co-worker participation in the project with 
| the title <b>#{cptitle}</b> and project ID <b>#{cpid}</b>.</p>
| <p>You cannot use the project link any more to visit the project.</p>
| <p>You can anytime register your own project or paricipate in another project
| (you need then the code of the project owner) via the registation page.</p>
| <p>If you do not enter your own project or participate in another project 
| your registration will then be deleted after closing the coolest project registration.</p>
| <p>If you have any furthe question please contact our team via
| an email to <b>mailto:info@coolestproject.be</b>.</p>
| 
| <p>Coolest Project Team </p>