p Bonjour #{name},
| 
| <p>Tu as bien <b>SUPPRIME</b> la participation de ton collaborateur dans le projet 
| nommé <b>#{cptitle}</b> et avec l’identifiant<b>#{cpid}</b>.</p>
| <p>Tu ne peux plus utiliser le lien vers le projet pour voir ce projet.</p>
| <p>Tu peux à n’importe quel moment enregistrer ton propre projet ou participer dans un autre projet.
| via la page d’enregistrement (tu auras besoin alors du code du propriétaire du projet).</p>
| <p>Si tu n’enregistres pas ton propre projet ou ne participes pas au projet d’un autre
| ton enregistrement sera alors effacé après avoir fermé l’Enregistrement au Coolest Project.</p>
| <p>Si tu as d’autres questions, contacte notre équipe via email 
| à <b>mailto:info@coolestproject.be</b>.</p>
| 
| <p>L’équipe Coolest Project</p>