p Hi #{name}, 
|
| We are very pleased that you want to participate on the next <b>Coolest Projects 2020</b> organized
| by Coderdojo Belgium at TECHNOPOLIS, MECHELEN on Sunday 17th of May 2020.
| <p>You can find all the info on Coolest Projects on our <a href="https://coolestprojects.be">Coolest Projects 2020</a> website .</p>
| <p>If you are younger than 16, your parents will also receive this mail and they have to confirm your participation.</p>
| <p>Click this <a href="#{url}">ActivationLink</a> to activate your project.</p>
|
| Be sure to click this activation link within 2 days, to ensure your participation.
| ??(what if: after that 2 days)??
|
| <p>You should receive a second mail then, with some more information you need to get your project on rails.</p>
| 
| <p><b>Good luck, #{name} we’re looking forward to your project activation!</b></p>
| 
| <p>Coolest Projects team </p>