p Hoi #{name},
|
| We zijn super blij dat je deel wil nemen aan de volgende <b>Coolest Projects 2020</b>, 
| georganiseerd door Coderdojo Belgium op zondag 17 mei 2020 in TECHNOPOLIS, MECHELEN.
| <p>Je vindt alle info over ons Coolest Projects event op onze site <a href="https://coolestprojects.be">Coolest Projects 2020</a>.</p>
| <p>Indien je jonger bent dan 16, ontvangen je ouders deze mail ook en dienen zij jouw deelname te bevestigen.</p>
| <p>Jij of 1 van je ouders kan op deze <a href="#{url}">ActivationLink</a> klikken, om de activatie in gang te zetten.</p>
|
| <p>Enkel indien je dit binnen de 2 dagen doet, zal jouw deelname geaccepteerd worden.</p>
| <p>Je ontvangt dan een tweede mail, met meer informatie die je nodig hebt om jouw project op de rails te krijgen.</p>
| 
| <p><b>Toi toi, #{name} wij kijken ontzettend uit naar de activatie van jouw project!</b></p>
| 
| <p>Coolest Projects team </p>