p Hi #{name},
| 
| <p>you have successfully <b>DELETED</b> your project with the title <b>#{cptitle}</b> and project ID <b>#{cpid}</b>.</p>
| <p>Your co-workers of your project have also been informed that you deleted the project.
| You and your co-workers cannot use the project link any more to visit your project.</p>
| <p>You and your co-workers can anytime register their own project via the registation page.</p>
| <p> If you as owner of the project want to reactivate your project please contact our team via
| an email to <b>mailto:info@coolestproject.be</b> and please give us the Coolest Project ID.</p>
| 
| <p>Coolest Project Team </p>